# Maven build directory
target/
*.class
*.jar
*.war

# Playwright + temp
ms-playwright/
node_modules/
temp/
tmp/
*.log

# IDE / Editor junk
.idea/
.vscode/
*.iml
*.DS_Store
Thumbs.db
desktop.ini

# Output files
output.json

